{% extends "base.html" %}

{% block title %}
About
{% endblock title %}

{% block body %}
<div class="container-fluid my-3 " style="height:350px;width:100;display:flex" >
    <img src="static/images/cbg1.jpg" class="d-block w-100 " style="border-radius: 2rem;" alt="..." />
</div>
<div class="container my-4">
  <h3 class="heading text-center">About us</h3>
</div>
<div class="container mt-4">
    <div class="jumbotron">
      <!-- <h1 class="display-4">About SAM Electronics</h1> -->
      <div class="container" style="border: solid; border-radius: 1rem ">
        <h1>About SAM Electronics</h1>

        <h5>Welcome to SAM Electronics -</h5><p class="lead">Your Ultimate Destination for Cutting-Edge Electronic Gadgets!

          Founded with a passion for innovation and a commitment to quality, SAM Electronics has established itself as a premier online retailer specializing in a wide range of electronic items. From the latest smartphones and tablets to high-performance laptops and gaming consoles, we offer an extensive selection of top-tier electronics to suit every need and budget.</p>
        <h5>Our Mission</h5>
        <p>At SAM Electronics, our mission is to empower our customers by providing them with the latest technology at competitive prices. We believe that technology should be accessible to everyone, and our team works tirelessly to ensure that our customers have the best shopping experience possible.</p>
        <h5>Our Vision</h5>
        <p>Looking ahead, SAM Electronics aims to be at the forefront of the digital revolution, continuously expanding our product lines to include the most innovative and sustainable electronic solutions. We are committed to enriching the lives of our customers by making technology more inclusive and environmentally friendly.

          Join us on our journey to a smarter, more connected world. Shop with SAM Electronics today and experience the future of technology!</p>
  

      </div>
      
    </div>
    <div class="row my-4"  >
      <h2 class="text-center">Get in touch with us</h2>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <!-- <h5 class="card-title">1</h5> -->
            <p class="card-text">Name: Om Prakash Mishra</p>
            <p class="card-text">Email: om1234@egmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <!-- <h5 class="card-title">2</h5> -->
            <p class="card-text">Name: Shreesanyog Rath</p>
            <p class="card-text">Email: sanyog1234@egmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <!-- <h5 class="card-title">3</h5> -->
            <p class="card-text">Name: Akash Sasmal</p>
            <p class="card-text">Email: akash1234@egmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}